@import '../../../_common/styles/common.scss';




#banner{
 width: 970px;
 height: 90px; 
}


#olg{
	// border: 1px solid red;
	width: 138px;
	height: 81px;
	@include pos(-2, 19);
	// opacity: 1 !important;
}




#legalBtn{	
	@include pos(900, 30);	
	width: 100px;
	height: 30px;
	// opacity: 1 !important;
}
